@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root{
    --cor1: #191716;
    --cor2: #2b07ba;
    --cor3: #ffffff;
    --cor4: #cbcbcb;
    --cor5: #000000;
    --cor6: #db1c1c;
    --cor7: #ffffff;
}

*{
    padding: 0;
    margin: 0;
    color: var(--cor5);
}

::-webkit-scrollbar{
    width: 0.45em;
    background-color: var(--cor2);
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor5);
    width: 0.45em;
    border-radius: 2em;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--cor3);
}

header{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 11vh;
    background-color: var(--cor2);
    padding: 0.5rem;
}

.headerL{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}
.inheaderL{
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    justify-content: space-evenly;
    align-items: center;
    width: 20em;
    height: 60%;
    margin-left: -1.2em;
    border-radius: 0 1em 1em 0;
    background-color: var(--cor4);
    box-shadow: 0 0 10px var(--cor1);
}
.logo{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor4);
    width: 17.5%;
    height: 80%;
    border-radius: 4.5em;
    transition: .25s;
    box-shadow: 0 0 10px var(--cor1);
}
.logo:hover{
    background-color: var(--cor6);
    box-shadow: 0 0 10px var(--cor1);
}
.logoimg{
    width: 2em;
    height: 2em;
    margin-top: .6em;
}
.aula, .suport{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    height: 65%;
    transition: .25s;
}
.suport{
    border-radius: 0 2em 2em 0;
}
.aula:hover, .suport:hover{
    background-color: var(--cor2);
    box-shadow: 0 0 10px var(--cor1);
    width: 70%;
    height: 100%;
    border-radius: 0 1em 1em 0;
}

.headerR{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}
.svg{
    fill: var(--cor4);
    transition: 0.5s;
}
.svg:hover{
    fill: var(--cor5);
}
.menuLR{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 52.5vh;
    margin-right: 22em;
    width: 35%;
    height: 40vh;
    background-color: var(--cor2);
    box-shadow: 0 0 10px var(--cor1);
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}
.first button{
    background-color: var(--cor4);
    width: 90%;
    height: 80%;
    margin: .3em;
    border: none;
    font-size: 2em;

}
.first button a{
    font-size: 1em;
}
.first button:hover{
    background-color: var(--cor3);
}
.second{
    font-family:Arial, Helvetica, sans-serif;
    display: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}
.second form{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.second form input{
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--cor4);
    width: 100%;
    height: 100%;
    margin: .3em;
    border: none;
    text-align: center;
    font-size: 2em;

}
.second form input:focus{
    background-color: var(--cor4);
    width: 100%;
    height: 100%;
    margin: .3em;
    border: none;
    font-size: 2em;

}
.second form input[type="submit"]{
    background-color: var(--cor4);
    width: 60%;
    height: 100%;
    margin: .3em;
    border: none;
    font-size: 2em;

}
.second form input[type="submit"]:hover{
    background-color: var(--cor3);
    width: 60%;
    height: 100%;
    margin: .3em;
    border: none;
    font-size: 2em;
}
a{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 2em;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 99.5%;
    height: 125vh;
    margin-top: 11vh;
}
.mTop{
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 79.1%;
    height: 5vh;
    margin-top: 1em;
}
.op1, .op2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor4);
    width: 10%;
    font-size: 1.2em;
    border: none;
}
.op2{
    opacity: 50%;
}
.corpo{
    display: flex;
    flex-direction: column;
    background-color: var(--cor4);
    width: 76.5%;
    padding: 1em;
    margin-bottom: 1em;
    padding: 1em;
}
/* ISTO SERA RETIRADO DPS Q A EXPLICAÇÃO SER ENTENDIDA */
.pequena{
    font-size: 1em;
}
.media{
    font-size: 1.5em;
}
.maior{
    font-size: 2em;
}
.decimal{
    font-size: 1.75em;
}
/* ISTO SERA RETIRADO DPS Q A EXPLICAÇÃO SER ENTENDIDA */
.conteudo{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 100%;
    background-color: var(--cor4);
}
.atividade{
    display: none;
}