@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root{
    --cor1: #191716;
    --cor2: #2b07ba;
    --cor3: #ffffff;
    --cor4: #cbcbcb;
    --cor5: #000000;
    --cor6: #db1c1c;
    --cor7: #ffffff;
}

*{
    padding: 0;
    margin: 0;
    color: var(--cor5);
}

::-webkit-scrollbar{
    width: 0.45em;
    background-color: var(--cor2);
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor5);
    width: 0.45em;
    border-radius: 2em;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--cor3);
}

header{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 11vh;
    background-color: var(--cor2);
    padding: 0.5rem;
}

.headerL{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}
.inheaderL{
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    justify-content: space-evenly;
    align-items: center;
    width: 20em;
    height: 60%;
    margin-left: -1.2em;
    border-radius: 0 1em 1em 0;
    background-color: var(--cor4);
    box-shadow: 0 0 10px var(--cor1);
}
.logo{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor4);
    width: 17.5%;
    height: 80%;
    border-radius: 4.5em;
    transition: .25s;
    box-shadow: 0 0 10px var(--cor1);
}
.logo:hover{
    background-color: var(--cor6);
    box-shadow: 0 0 10px var(--cor1);
}
.logoimg{
    width: 2em;
    height: 2em;
    margin-top: .6em;
}

.aula, .suport{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    height: 65%;
    transition: .25s;
    font-family:Arial, Helvetica, sans-serif;
}
.suport{
    border-radius: 0 2em 2em 0;
}
.aula:hover, .suport:hover{
    background-color: var(--cor2);
    box-shadow: 0 0 10px var(--cor1);
    width: 70%;
    height: 100%;
    border-radius: 0 1em 1em 0;
}


.headerR{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}
.svg{
    fill: var(--cor4);
    transition: 0.5s;
}
.svg:hover{
    fill: var(--cor5);
}
.menuLR{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 52.5vh;
    margin-right: 22em;
    width: 35%;
    height: 40vh;
    background-color: var(--cor2);
    box-shadow: 0 0 10px var(--cor1);
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}
.first button{
    background-color: var(--cor4);
    width: 90%;
    height: 80%;
    margin: .3em;
    border: none;
    font-size: 2em;
}
.first button a{
    font-size: 1em;
}
.first button:hover{
    background-color: var(--cor3);
}
.second{
    font-family:Arial, Helvetica, sans-serif;
    display: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}
.second form{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.second form input{
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--cor4);
    width: 100%;
    height: 100%;
    margin: .3em;
    border: none;
    text-align: center;
    font-size: 2em;

}
.second form input:focus{
    background-color: var(--cor4);
    width: 100%;
    height: 100%;
    margin: .3em;
    border: none;
    font-size: 2em;

}
.second form input[type="submit"]{
    background-color: var(--cor4);
    width: 60%;
    height: 100%;
    margin: .3em;
    border: none;
    font-size: 2em;

}
.second form input[type="submit"]:hover{
    background-color: var(--cor3);
    width: 60%;
    height: 100%;
    margin: .3em;
    border: none;
    font-size: 2em;
}
a{
    text-decoration: none;
    font-size: 2em;
}


.container {
    background-color: var(--cor4);
    padding: 1em;
    width: 35%;
    text-align: center; 
    border-radius: 1em;
}
.coontainer {
    background-color: #ffffff;
    padding: 20px;
    width: 450px;
    margin: 50px auto;
    text-align: center; 
    border-radius: 2em;
    display: none;
}
.titulo {
    color: var(--cor1);
    font-size: 2.5em;
    margin-bottom: .5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.obrigado {
    color: var(--cor1);
    font-size: 2em;
    margin-top: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.botao {
    background-color: var(--cor2);
    color: var(--cor3);
    border: none;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    width: 25%; 
    border-radius: 2em;
    margin-top: .5em;
}
.fundo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 89vh;
    background-color: var(--cor3);
    color: var(--cor1);
    margin-top: 7.5em;
    align-items: center;
}
.texto{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-size: 2em;
    color: var(--cor1);
    font-size: 1em; 
}
.campo input {
    width: 90%;
    padding: 10px; 
    box-sizing: border-box; 
    border-radius: 0.5em;
    border: 1px solid var(--cor4);
    text-align: center;
    font-size: 1.5em;
}

.campo-div {
    margin-bottom: 10px;
    text-align: center; 
}
.hidden {
    display: none;
    
}

/* .div {
    margin-bottom: 20px;
} */