@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root{
    --cor1: #191716;
    --cor2: #440D0F;
    --cor3: #603A40;
    --cor4: #84596b;
    --cor5: #AF9BB6;
    --cor6: #000000;
    --cor7: #ffffff;
}

*{
    padding: 0;
    margin: 0;
    color: var(--cor5);
}

::-webkit-scrollbar{
    width: 0.45em;
    background-color: var(--cor2);
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor5);
    width: 0.45em;
    border-radius: 2em;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--cor3);
}

header{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 11vh;
    background-color: var(--cor2);
    padding: 0.5rem;
}

.headerL{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.inheaderL{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 24em;
    height: 65%;
    margin-left: -1.2em;
    border-radius: 0 2em 2em 0;
    background-color: var(--cor4);
    box-shadow: 0 0 10px var(--cor6);
}
.logo{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor4);
    width: 17.5%;
    height: 80%;
    border-radius: 4.5em;
    transition: .25s;
    box-shadow: 0 0 10px var(--cor6);
}
.logo:hover{
    background-color: var(--cor5);
    box-shadow: 0 0 10px var(--cor7);
}
.logoimg{
    width: 3em;
    height: 3em;
    margin-top: .6em;
}
.aula, .suport{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 85%;
    transition: .25s;
}
.suport{
    border-radius: 0 2em 2em 0;
}
.aula:hover, .suport:hover{
    background-color: var(--cor2);
    box-shadow: 0 0 10px var(--cor7);
}

.headerR{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}
.svg{
    fill: var(--cor4);
    transition: 0.5s;
}
.svg:hover{
    fill: var(--cor5);
}
.menuLR{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 52.5vh;
    margin-right: 38em;
    width: 35%;
    height: 40vh;
    background-color: var(--cor2);
    border-radius: 0 0 3em 3em;
    box-shadow: 0 0 10px var(--cor6);
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}
.first button{
    background-color: var(--cor4);
    width: 100%;
    height: 100%;
    margin: .3em;
    border: none;
    font-size: 3em;
    border-radius: 5em;
    box-shadow: 0 0 10px var(--cor6);
}
.first button a{
    font-size: 1em;
}
.first button:hover{
    background-color: var(--cor3);
}
.second{
    display: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}
.second form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.second form input{
    background-color: var(--cor4);
    width: 100%;
    height: 100%;
    margin: .3em;
    border: none;
    text-align: center;
    font-size: 3em;
    border-radius: 5em;
    box-shadow: 0 0 10px var(--cor6);
}
.second form input:focus{
    background-color: var(--cor4);
    width: 100%;
    height: 100%;
    margin: .3em;
    border: none;
    font-size: 3em;
    border-radius: 5em;
    box-shadow: 0 0 10px var(--cor6);
}
.second form input[type="submit"]{
    background-color: var(--cor4);
    width: 60%;
    height: 100%;
    margin: .3em;
    border: none;
    font-size: 3em;
    border-radius: 5em;
    box-shadow: 0 0 10px var(--cor6);
}
.second form input[type="submit"]:hover{
    background-color: var(--cor3);
    width: 60%;
    height: 100%;
    margin: .3em;
    border: none;
    font-size: 3em;
    border-radius: 5em;
    box-shadow: 0 0 10px var(--cor6);
}
a{
    text-decoration: none;
    font-size: 2em;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 173vh;
    margin-top: 11vh;
}

.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 86.5vh;
    background-color: var(--cor4);
    box-shadow: 0 0 10px var(--cor6);
}
.sobre .timg{
    display: flex;
    width: 10em;
    height: 10%;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1em 1em;
    background-color: var(--cor3);
    box-shadow: 0 0 10px var(--cor6);
}
.sobre .text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 85%;
    opacity: .06;
    background-image: url(../img/logo.png);
    background-size: 50em;
    background-position: center;
    background-repeat: no-repeat;
}
.sobre .textS{
    z-index: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 5;
    width: 75%;
    height: 80%;
}
.sobre .textS p{
    text-align: center;
    font-size: 2.5em;
    width: 80%;
}

.criadores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 88.5vh;
    background-color: var(--cor4);
    box-shadow: 0 0 10px var(--cor6);
}
.owners{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: var(--cor4);
}
.criadores .timg{
    z-index: 0;
    display: flex;
    width: 10em;
    height: 10%;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border-radius: 0 0 1em 1em;
    background-color: var(--cor3);
    box-shadow: 0 0 10px var(--cor6);
}

.owner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 22em 2.5em 2.5em 2.5em;
    border-radius: 1em 1em 2em 2em;
    width: 27.5em;
    height: 18em;
    background-color: var(--cor2);
}
.fotoOw{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15em;
    width: 25em;
    height: 25em;
    border-radius: 50em;
    background-color: var(--cor5);
}
.fotoOw img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50em;
}
.nameOw{
    margin-top: 1em;
    font-size: 3em;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 31vh;
    background-color: var(--cor2);
}
.footerL{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.9%;
    height: 100%;
}
.footerL img{
    width: 30%;
    margin-top: 1em;
    margin-left: -12em;
}
.footerM{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    width: 33.9%;
}
.footerR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-size: 1em;
    width: 33.9%;
}
.footerR p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    flex-direction: row-reverse;
}
.footerR p img{
    width: 2.5em;
}