@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root{
    --cor1: #191716;
    --cor2: #440D0F;
    --cor3: #603A40;
    --cor4: #84596b;
    --cor5: #AF9BB6;
}

*{
    padding: 0;
    margin: 0;
    color: var(--cor5);
}

::-webkit-scrollbar{
    width: 0.45em;
    background-color: var(--cor2);
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor5);
    width: 0.45em;
    border-radius: 2em;
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--cor3);
}

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 11vh;
    background-color: var(--cor2);
    padding: 0.5rem;
}

.headerL{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.inheaderL{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 24em;
    height: 65%;
    border-radius: 0 2em 2em 0;
    background-color: var(--cor4);
}
.aula, .suport{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 85%;
    transition: .25s;
}
.suport{
    border-radius: 0 2em 2em 0;
}
.aula:hover, .suport:hover{
    background-color: var(--cor2);
}

.headerR{
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg{
    fill: var(--cor4);
    transition: 0.5s;
}
.svg:hover{
    fill: var(--cor5);
}
a{
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 173vh;
    margin-top: 11vh;
}

.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 94vh;
    border-radius: 0 0 2em 2em;
    background-color: var(--cor4);
}
.sobre .timg{
    display: flex;
    width: 10em;
    height: 10%;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1em 1em;
    background-color: var(--cor3);
}
.sobre p{
    text-align: center;
    width: 90%;
    height: 85%;
    margin-top: 5%;
}

.owners{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 94vh;
}