@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root{
    --cor1: #191716;
    --cor2: #440D0F;
    --cor3: #603A40;
    --cor4: #84596b;
    --cor5: #AF9BB6;
    --cor6: #000000;
    --cor7: #ffffff;
}

*{
    padding: 0;
    margin: 0;
    color: var(--cor5);
}

::-webkit-scrollbar{
    width: 0.45em;
    background-color: var(--cor2);
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor5);
    width: 0.45em;
    border-radius: 2em;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--cor3);
}

header{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 11vh;
    background-color: var(--cor2);
    padding: 0.5rem;
}

.headerL{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.inheaderL{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 24em;
    height: 65%;
    margin-left: -1.2em;
    border-radius: 0 2em 2em 0;
    background-color: var(--cor4);
    box-shadow: 0 0 10px var(--cor6);
}
.logo{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor4);
    width: 17.5%;
    height: 80%;
    border-radius: 4.5em;
    transition: .25s;
    box-shadow: 0 0 10px var(--cor6);
}
.logo:hover{
    background-color: var(--cor5);
    box-shadow: 0 0 10px var(--cor7);
}
.logoimg{
    width: 3em;
    height: 3em;
    margin-top: .6em;
}
.aula, .suport{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 85%;
    transition: .25s;
}
.suport{
    border-radius: 0 2em 2em 0;
}
.aula:hover, .suport:hover{
    background-color: var(--cor2);
    box-shadow: 0 0 10px var(--cor7);
}

.headerR{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}
.svg{
    fill: var(--cor4);
    transition: 0.5s;
}
.svg:hover{
    fill: var(--cor5);
}
.menuLR{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 52.5vh;
    margin-right: 38em;
    width: 35%;
    height: 40vh;
    background-color: var(--cor2);
    border-radius: 0 0 3em 3em;
    box-shadow: 0 0 10px var(--cor6);
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}
.first button{
    background-color: var(--cor4);
    width: 100%;
    height: 100%;
    margin: .3em;
    border: none;
    font-size: 3em;
    border-radius: 5em;
    box-shadow: 0 0 10px var(--cor6);
}
.first button a{
    font-size: 1em;
}
.first button:hover{
    background-color: var(--cor3);
}
.second{
    display: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}
.second form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.second form input{
    background-color: var(--cor4);
    width: 100%;
    height: 100%;
    margin: .3em;
    border: none;
    text-align: center;
    font-size: 3em;
    border-radius: 5em;
    box-shadow: 0 0 10px var(--cor6);
}
.second form input:focus{
    background-color: var(--cor4);
    width: 100%;
    height: 100%;
    margin: .3em;
    border: none;
    font-size: 3em;
    border-radius: 5em;
    box-shadow: 0 0 10px var(--cor6);
}
.second form input[type="submit"]{
    background-color: var(--cor4);
    width: 60%;
    height: 100%;
    margin: .3em;
    border: none;
    font-size: 3em;
    border-radius: 5em;
    box-shadow: 0 0 10px var(--cor6);
}
.second form input[type="submit"]:hover{
    background-color: var(--cor3);
    width: 60%;
    height: 100%;
    margin: .3em;
    border: none;
    font-size: 3em;
    border-radius: 5em;
    box-shadow: 0 0 10px var(--cor6);
}
a{
    text-decoration: none;
    font-size: 2em;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 87.5vh;
    margin-top: 12.5vh;
}
.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    width: 25%;
    height: 55%;
    margin: 1em;
    font-size: 3em;
    background-color: var(--cor4);
    box-shadow: 0 0 15px var(--cor6);
    transition: .5s;
}
.button:hover{
    background-color: var(--cor2);
    box-shadow: 0 0 15px var(--cor7);
}
.button img{
    width: 60%;
}
.button a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}