@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root{
    --cor1: #191716;
    --cor2: #440D0F;
    --cor3: #603A40;
    --cor4: #84596b;
    --cor5: #AF9BB6;
    --cor6: #000000;
}

*{
    padding: 0;
    margin: 0;
    color: var(--cor5);
}

::-webkit-scrollbar{
    width: 0.45em;
    background-color: var(--cor2);
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor5);
    width: 0.45em;
    border-radius: 2em;
}
.container {
    background-color: #ffffff;
    padding: 20px;
    width: 450px;
    margin: 50px auto;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
    border-radius: 2em;
    box-shadow: 0 0 10px var(--cor6);
}
.titulo {
    color: #440D0F;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.botao {
    background-color: #84596b;
    color: #AF9BB6;
    border: 1px solid #603A40;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 0px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    width: 25%; 
    border-radius: 2em;
    box-shadow: 0 0 5px var(--cor6);
}
.fundo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #603A40;
    color: #fff;
    box-shadow: 0 0 10px var(--cor6);
}
.campo input {
    width: 90%;
    padding: 10px; 
    box-sizing: border-box; 
    border-radius: 2em;
    border: 1px solid var(--cor6);
    box-shadow: 0 0 5px var(--cor6);
}

.campo {
    margin-bottom: 10px;
    text-align: center; 
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--cor3);
}

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 11vh;
    background-color: var(--cor2);
    padding: 0.5rem;
}

.headerL{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.inheaderL{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 12em;
    height: 65%;
    border-radius: 0 2em 2em 0;
    background-color: var(--cor4);
}
.suport{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 85%;
    transition: .25s;
}
.suport{
    border-radius: 0 2em 2em 0;
}
.suport:hover{
    background-color: var(--cor2);
}

.headerR{
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg{
    fill: var(--cor4);
    transition: 0.5s;
}
.svg:hover{
    fill: var(--cor5);
}
a{
    text-decoration: none;
}